.contacts {
  background: linear-gradient(to right, #ff008485, #33001b);
  width: 97%;
  height: 100vh;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0 0 25px #2626);
}
.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}
.row {
  // position: absolute;
  margin-top: 3rem;
  width: 100%;
  height: 91%;
  justify-content: space-around !important;
  align-items: center !important;
}
.content-wrapper {
  position: absolute;
  display: inline-grid;
  margin-top: 2rem;
  margin-left: 2rem;
  & h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #fff;
  }
  & p {
    font-family: "Parisienne", cursive;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  & img {
    width: 10rem;
    opacity: 0.7;
    filter: drop-shadow(0 0 10px rgb(32, 67, 224));
    filter: blur(5px);
    animation: triangle 10s ease-in-out infinite;
  }
}
.contacts-svg {
  width: 501px;
  height: initial;
  filter: drop-shadow(0 0 5px black);
}
.wrapper-form {
  padding: 2rem;
  border: 2px dashed #fff;
  box-shadow: 0 0 10px #c1c1c1;
}

.form-control {
  background: transparent !important;
  outline: 0;
  color: #fff;
  border-width: 0 0 2px;
  border-color: black;
  border-radius: 0;
  &::placeholder {
    color: rgb(248, 231, 231);
    font-size: 1rem;
  }
  &:focus {
    box-shadow: none;
  }
}
.btn {
  background: #2c5656;
  color: #fff;
}

@keyframes triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 575.98px) {
  .contacts {
    width: 100%;
    height: 88vh;
  }
  .wrapper {
    height: 100%;
  }
  .row {
    margin: 0;
    height: inherit !important;
  }
  .svg-image {
    display: none;
  }
  .wrapper-form {
    margin-top: 9rem;
  }
  .triangle {
    & img {
      opacity: 0.3;
      filter: blur(10px);
    }
  }
}
