<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-grid-pulse"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<section class="contacts">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-6">
        <h1>Graphics</h1>
      </div>
      <div class="col-md-6">
        <div #myForm class="wrapper-form" data-tilt>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmitHandler()">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  formControlName="name"
                  placeholder="Enter your name"
                  [ngClass]="{ 'is-invalid': submitted }"
                />
                <div *ngIf="submitted" class="invalid-feedback">
                  <div *ngIf="f.name.errors?.required">Name is required!</div>
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Enter your email"
                  [ngClass]="{ 'is-invalid': submitted }"
                />
                <div *ngIf="submitted" class="invalid-feedback">
                  <div *ngIf="f.email.errors?.required">Email is required!</div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <textarea
                  class="form-control"
                  formControlName="message"
                  name="message"
                  cols="30"
                  rows="6"
                  placeholder="Start typing .."
                  [ngClass]="{ 'is-invalid': submitted }"
                ></textarea>
                <div *ngIf="submitted" class="invalid-feedback">
                  <div *ngIf="f.message.errors?.required">
                    Message is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <button class="btn btn-block">
                <fa-icon [icon]="faSave"></fa-icon> &nbsp;
                <b>Submit</b>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
