@use '../header/header.component.scss' as col;

.profile {
  width: 100%;
  height: 100vh;
  position: relative;
  // background: url(../../../assets/images/shapes.png);
  & img {
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 7rem;
    filter: drop-shadow(2px 4px 6px black);
  }
}

.my-profile {
  // position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: col.$primary-color;
  cursor: pointer;
  transition: 0.5s;
  animation: profile 5s ease-in-out infinite;
  &::before {
    content: "";
    width: 0.2rem;
    background: black;
    position: relative;
    border-radius: 5px;
    animation: before 1s ease-in-out infinite;
  }
  &::after {
    content: "";
    width: 0.2rem;
    background: black;
    opacity: 0;
    position: relative;
  }
  &:hover::before {
    animation: zoopone 1s ease-in-out;
    // transform: scaleZ(2);
  }
  &:hover::after {
    animation: zooptwo 1s ease-in-out;
    // transform: scaleZ(2);
  }
}

.wrapper {
  margin-left: 10rem;
}
.time-line {
  width: inherit;
  border-left: 2px solid #ccc;
  padding: 0 20px 0 30px;
  position: relative;
  margin-bottom: 2rem;
}

.exp {
  width: 38rem;
  padding: 2rem;
  background: #e6e8ef;
  margin-bottom: 0.5rem;
  color: #0b3966;
  position: relative;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: 0.5s ease-in-out;
  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgb(39, 73, 224);
    border: 3px solid #2626;
    position: absolute;
    top: 0;
    left: -38px;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent col.$primary-color transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 0;
  }
  &:hover::before {
    box-shadow: 0 0 10px grey;
  }
  &:hover {
    box-shadow: 0 0 10px grey;
  }
}

.line {
  position: absolute;
  height: 20rem;
}

@keyframes before {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes zoopone {
  from {
    transform: rotateX(0deg);
    background-color: black;
    left: 0;
    opacity: 1;
    // width: 0.2rem;
    transform: scale(1);
    color: black;
    background-color: blue;
  }
  to {
    transform: rotateX(360deg);
    background-color: col.$primary-color;
    transform: scale(2);
    left: 10rem;
    opacity: 0;
    color: #fff;
  }
}
@keyframes zooptwo {
  from {
    transform: rotateX(0deg);
    background-color: black;
    left: 0;
    opacity: 1;
    // width: 0.2rem;
    transform: scale(2);
  }
  to {
    transform: rotateX(360deg);
    background-color: col.$primary-color;
    transform: scale(1);
    left: -10rem;
    opacity: 0;
    // width: 10rem;
  }
}
@keyframes profile {
  100% {
    color: red;
  }
  60% {
    color: green;
  }
  0% {
    color: blue;
  }
}

@media (max-width: 575.98px) {
  .profile {
    height: 100vh;

    & img {
      display: none;
    }
  }
  .wrapper {
    margin-left: 1rem;
  }
  .work-exp {
    margin-left: -2rem;
  }
  .exp {
    width: 100%;
  }
  .company-name {
    font-size: 1rem;
  }
  .duration {
    font-size: 0.5rem;
  }
}
