<section
  class="profile"
  data-aos="zoom-in-right"
  data-aos-delay="100"
  data-aos-duration="1500"
>
  <img src="../../../assets/images/shapes.png" alt="shapes" />
  <h2
    class="d-inline-flex justify-content-start my-profile ml-4 p-2"
    data-aos="zoom-in-right"
    data-aos-delay="100"
    data-aos-duration="1500"
  >
    Profile
  </h2>
  <div class="container">
    <div class="row ml-4 p-2">
      <div class="col-md-12 ml-4 p-2">
        <div
          data-aos="zoom-in-left"
          data-aos-delay="800"
          data-aos-duration="500"
        >
          <span class="text-muted">Experience</span>
          &nbsp;
          <fa-icon [icon]="faBriefcase"></fa-icon>
          <h2>Work Experience</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrapper">
      <div class="col-md-12">
        <div class="time-line">
          <div
            class="exp"
            data-aos="fade-in"
            data-aos-delay="900"
            data-aos-duration="600"
          >
            <div class="d-flex justify-content-between align-items-center">
              <h2>C-DAC Noida</h2>
              <h6 class="text-muted">Oct 2019 - Present</h6>
            </div>
            <span>Frontend Developer</span>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores,
              voluptate?
            </p>
          </div>
          <div
            class="exp"
            data-aos="fade-in"
            data-aos-delay="1500"
            data-aos-duration="700"
          >
            <div class="d-flex justify-content-between align-items-center">
              <h2>C-DAC Noida</h2>
              <h6 class="text-muted">Oct 2019 - Present</h6>
            </div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores,
              voluptate?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ml-4 p-2">
      <div class="col-md-12 ml-4 p-2">
        <div
          data-aos="zoom-in-right"
          data-aos-delay="500"
          data-aos-duration="700"
        >
          <span class="text-muted">Education</span>
          &nbsp;
          <fa-icon [icon]="faUserGraduate"></fa-icon>
          <h2>Education</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrapper">
      <div class="col-md-12">
        <div class="time-line">
          <div
            class="exp"
            data-aos="zoom-in-right"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            <div class="d-flex justify-content-between align-items-center">
              <h2>C-DAC Noida</h2>
              <h6 class="text-muted">Oct 2019 - Present</h6>
            </div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores,
              voluptate?
            </p>
          </div>
          <div
            class="exp"
            data-aos="zoom-in-right"
            data-aos-delay="100"
            data-aos-duration="1100"
          >
            <div class="d-flex justify-content-between align-items-center">
              <h2>C-DAC Noida</h2>
              <h6 class="text-muted">Oct 2019 - Present</h6>
            </div>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores,
              voluptate?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
