<section
  class="profile"
  data-aos="zoom-in-right"
  data-aos-delay="100"
  data-aos-duration="1500"
>
  <img src="../../../assets/images/shapes.png" alt="shapes" />
  <h2
    class="d-inline-flex justify-content-start my-profile ml-4 p-2"
    data-aos="zoom-in-right"
    data-aos-delay="100"
    data-aos-duration="1500"
  >
    Profile
  </h2>
  <div class="container">
    <div class="row ml-4 p-2">
      <div
        class="work-exp col-md-12 ml-xs-0 p-xs-0 ml-sm-0 p-sm-0 ml-md-4 p-md-2 ml-lg-4 p-lg-2 ml-xl-4 p-xl-4"
      >
        <div
          data-aos="zoom-in-left"
          data-aos-delay="800"
          data-aos-duration="500"
        >
          <span class="text-muted">Experience</span>
          &nbsp;
          <fa-icon [icon]="faBriefcase"></fa-icon>
          <h2>Work Experience</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrapper">
      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
        <div class="time-line">
          <div
            class="exp"
            data-aos="fade-in"
            data-aos-delay="900"
            data-aos-duration="600"
          >
            <div
              class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-xs-between align-items-xs-center justify-content-sm-between align-items-sm-center justify-content-md-between align-items-md-center justify-content-lg-between align-items-lg-center justify-content-xl-between align-items-xl-center"
            >
              <h2 class="company-name">C-DAC Noida</h2>
              <h6 class="text-muted duration">Oct 2019 - Present</h6>
            </div>
            <span>Frontend Developer</span>
            <p class="mt-2">
              Responsible for designing and developing resposive and scalable
              and robust web application. Integrating Restful APIs and services
              in web appliction using Angular (JS framework), Doing debugging
              and unit testing.
            </p>
          </div>
          <div
            class="exp"
            data-aos="fade-in"
            data-aos-delay="1500"
            data-aos-duration="700"
          >
            <div
              class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-xs-between align-items-xs-center justify-content-sm-between align-items-sm-center justify-content-md-between align-items-md-center justify-content-lg-between align-items-lg-center justify-content-xl-between align-items-xl-center"
            >
              <h2 class="company-name">Appening Infotech</h2>
              <h6 class="text-muted duration">April 2019 - Oct 2019</h6>
            </div>
            <span>Software Developer</span>
            <p class="mt-2">
              Developing web application and intergating services and Rest APIs
              in angular application and also building Restful apis in NodeJS
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ml-4 p-2">
      <div
        class="work-exp col-md-12 ml-xs-0 p-xs-0 ml-sm-0 p-sm-0 ml-md-4 p-md-2 ml-lg-4 p-lg-2 ml-xl-4 p-xl-4"
      >
        <div
          data-aos="zoom-in-right"
          data-aos-delay="500"
          data-aos-duration="700"
        >
          <span class="text-muted">Education</span>
          &nbsp;
          <fa-icon [icon]="faUserGraduate"></fa-icon>
          <h2>Education</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wrapper">
      <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
        <div class="time-line">
          <div
            class="exp"
            data-aos="zoom-in-right"
            data-aos-delay="100"
            data-aos-duration="1000"
          >
            <div
              class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-xs-between align-items-xs-center justify-content-sm-between align-items-sm-center justify-content-md-between align-items-md-center justify-content-lg-between align-items-lg-center justify-content-xl-between align-items-xl-center"
            >
              <h2 class="company-name">B.Tech Computer Science</h2>
              <h6 class="text-muted duration">July 2014 - June 2018</h6>
            </div>
            <p>
              Completed my graduation from Dr APJ Abdul Kalam Technical
              University.
            </p>
          </div>
          <div
            class="exp"
            data-aos="zoom-in-right"
            data-aos-delay="100"
            data-aos-duration="1100"
          >
            <div
              class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-xs-between align-items-xs-center justify-content-sm-between align-items-sm-center justify-content-md-between align-items-md-center justify-content-lg-between align-items-lg-center justify-content-xl-between align-items-xl-center"
            >
              <h2 class="company-name">Intermediate</h2>
              <h6 class="text-muted duration">July 2012 - May 2014</h6>
            </div>
            <p>
              Completed my 12th from Bishop Geroge School and College ICSE
              board.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
