<section
  class="services"
  data-aos="zoom-in-right"
  data-aos-delay="500"
  data-aos-duration="5000"
>
  <div class="wrapper">
    <h2 #title>Services</h2>
    <p #subtitle></p>
  </div>
  <div class="container">
    <!-- <div class="row"> -->
    <div
      class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 card one"
      style="z-index: 2"
      data-aos="zoom-in-right"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <span class="icon">
        <fa-icon [icon]="faPalette"></fa-icon>
      </span>
      <h2>UI/UX</h2>
      <p>
        {{ uiux }}
      </p>
    </div>
    <div
      class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 card two"
      style="z-index: 2"
      data-aos="zoom-in-right"
      data-aos-duration="1200"
      data-aos-delay="300"
    >
      <span class="icon">
        <fa-icon [icon]="faLaptopCode"></fa-icon>
      </span>
      <h2 class="anime">Web Design</h2>
      <p class="anime">
        {{ web }}
      </p>
    </div>
    <div
      class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 card three"
      data-aos="zoom-in-right"
      data-aos-duration="1200"
      data-aos-delay="500"
    >
      <span class="icon">
        <fa-icon [icon]="faCode"></fa-icon>
      </span>
      <h2>API Integration</h2>
      <p>
        {{ api }}
      </p>
    </div>
    <!-- </div> -->
    <div
      class="curve d-none d-sm-none d-md-block d-lg-block d-xl-block"
      data-aos="flip-left"
      data-aos-delay="1300"
      data-aos-duration="1000"
    >
      <img src="../../../assets/images/curve.png" alt="curve" />
    </div>
  </div>
</section>
