.services {
  width: 100%;
  height: 66vh;
  margin-top: 1rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(121,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(77,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-33.95 -4) rotate(-5.65 1409 581) scale(0.947307)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-63.5 32) rotate(-0.9000000000000004 800 450) scale(0.99594)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-4.799999999999999 -1.5) rotate(-19.5 401 736) scale(0.99594)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(192 8.2) rotate(-2.05 150 345) scale(1.009769)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-12.5 -90.5) rotate(-35.99999999999999 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-74.4 13.6) rotate(-6 1400 132) scale(0.895)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  .container {
    width: 100%;
    // height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    .card {
      margin-right: 1rem;
      padding: 1rem 1.5rem;
      border: none;
      height: inherit;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 1px 5px #f0cfcf;
      color: #0575e6;
      transition: 0.8s ease-in-out;
      .card p {
        color: #262626;
      }
      &:hover {
        background: #3a7bd5;
        color: rgb(241, 224, 224);
      }
      &:hover p {
        color: #fff;
      }
    }
    .one,
    .two,
    .three {
      height: 16rem;
    }

    .card h2 {
      margin-bottom: 20px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
    }
    .card p {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      text-align: justify;
      color: #262626;
    }
  }
}
.card .icon {
  text-align: center;
  font-size: xxx-large;
  margin-top: -3rem;
}
.curve {
  // position: absolute;
  // display: inline-flex;
  position: absolute;
  display: inline-flex;
  bottom: -8.4rem;
  left: 0rem;
  height: auto;
  & img {
    height: 35rem;
    z-index: 1;
    filter: contrast(1);
    filter: drop-shadow(0 0 10px #3d0a0a);
    animation: curve 20s ease-in-out infinite;
  }
}

.wrapper {
  margin-left: 2rem;
  & h2 {
    display: inline-flex;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: rgb(89, 78, 233);
  }
  & p {
    font-family: "Parisienne", cursive;
    font-size: 1rem;
    font-weight: bold;
  }
  & h2::before {
    content: "";
    position: relative;
    width: 0.2rem;
    border-top: 0.2rem;
    background: #262626;
    margin-right: 0.2rem;
    border-radius: 5px;
    animation: services 1s ease-in-out infinite;
  }
}

@keyframes services {
  0% {
    transform: rotateX(0deg) scaleZ(1);
    background: red;
  }
  50% {
    transform: rotateX(180deg) scaleZ(1.2);
    background: green;
  }
  100% {
    transform: rotateX(360deg) scaleZ(1);
    background: blue;
  }
}

@keyframes curve {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.4);
  }
  50% {
    transform: scaleX(1.4);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 575.98px) {
  .container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    .card {
      margin-right: auto !important;
    }
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .card {
    margin-bottom: 3rem;
    padding: 0;
  }
}
