$primary-color: #044e97;
.hero {
  width: 100%;
  height: 90vh;
}
.content {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0575e6;
  font-size: 5rem;
  text-shadow: 1px 1px 10px grey;
}
.sub-title {
  font-weight: 300;
  font-size: 1.2rem;
  color: $primary-color;
}
.learn_more {
  width: 10rem;
  height: 3rem;
  background: $primary-color;
  border: none;
  color: #fff;
  font-size: "Poppiness", sans-serif;
  &:hover {
    background-color: darken($primary-color, 10%);
    box-shadow: 0 0 5px blueviolet;
  }
}
.download {
  width: 10rem;
  height: 3rem;
  margin-left: 1rem;
  background-color: transparent;
  border: 2px solid $primary-color;
  transition: 0.3s ease-in-out;
  font-family: "Poppines", sans-serif;
  &:hover {
    background-color: $primary-color;
    color: #fff;
    border: none;
    box-shadow: 0 0 5px blueviolet;
  }
}
.socials {
  width: 95%;
  // font-size: 1rem;
  // background: cornflowerblue;
  display: flex;
  justify-content: space-around;
  & a {
    font-size: 2rem;
    color: #262626;
    text-shadow: 0 0 5px gray;
  }
}
.graphic {
  margin-right: 2.5rem;
}
#pill {
  width: 38rem;
  height: 20rem;
  filter: drop-shadow(2px 4px 10px black);
}
.image {
  display: inline-flex;
  bottom: 10.5rem;
  position: relative;
  z-index: -1;
}
.image img {
  position: relative;
  height: 20rem;
  width: 20rem;
  filter: drop-shadow(2px 4px 10px #c2c2c2);
}
.circle {
  display: inline-flex;
  position: absolute;
  top: 5rem;
  left: 12rem;
  z-index: -1;
  opacity: 0.6;
}
.circle img {
  height: 13rem;
  animation: circle 15s ease-in-out infinite;
  filter: drop-shadow(2px 2px 5px grey);
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 575.98px) {
  .hero {
    display: inline-flex;
  }
  .title {
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #0575e6;
    font-size: 3.5rem;
    text-shadow: 1px 1px 10px grey;
  }
  .sub-title {
    font-size: 1.5rem;
  }
  .sub-title .learn_more {
    display: inline-flex;
  }
  .content {
    margin: 0;

    display: inline-flex;

    padding-left: 1rem;
    overflow: hidden;
    width: 100%;
  }
  .circle {
    display: none;
  }
}

// @media (min-width: )
